<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Data List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Data List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let perro of perros; let i = index">
      <img [src]="perro" />
      <div *ngIf="libros?.results?.[i]">
        <label>{{ libros.results[i].title }}</label>
        <ion-button (click)="guardarLibro(libros)">Guardar este libro</ion-button>
      </div>
    </ion-card>
  </ion-list>
  
</ion-content>
